{
    "openapi": "3.0.0",
    "info": {
        "title": "BilBakalim API",
        "description": "BilBakalim Quiz Application API Documentation",
        "contact": {
            "name": "BilBakalim Support",
            "email": "info@bilbakalim.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://bil-bakalim.com",
            "description": "Production Server"
        }
    ],
    "paths": {
        "/api/ads/next": {
            "get": {
                "tags": [
                    "Ads"
                ],
                "summary": "Rastgele reklam görseli al",
                "description": "Kullanıcıya rastgele aktif bir reklam görseli döner. Kullanıcı başına en fazla 3 kez izin verilir; 3'ten sonra allowed=false döner. Coin/gösterim client tarafında yönetilir.",
                "operationId": "088acec6787fb54a7c5337f74530eee4",
                "responses": {
                    "200": {
                        "description": "Başarılı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "allowed": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "count": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "max": {
                                            "type": "integer",
                                            "example": 3
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Reklam görseli hazır."
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Reklam Kırmızı",
                                                    "nullable": true
                                                },
                                                "image_url": {
                                                    "type": "string",
                                                    "example": "https://bil-bakalim.com/storage/ads/dummy-red.png"
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "success": true,
                                    "allowed": true,
                                    "count": 1,
                                    "max": 3,
                                    "message": "Reklam görseli hazır.",
                                    "data": {
                                        "id": 1,
                                        "title": "Reklam Kırmızı",
                                        "image_url": "https://bil-bakalim.com/storage/ads/dummy-red.png"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/ad-watch/reward": {
            "post": {
                "tags": [
                    "Ad Watch"
                ],
                "summary": "Reklam izleme ödülü",
                "description": "Kullanıcı reklam izledikten sonra +50 coin kazanır",
                "operationId": "fbfaf0c3888ef98f81ae7d4685a3e5cc",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ad_id": {
                                        "description": "Reklam ID (opsiyonel)",
                                        "type": "string",
                                        "example": "ad_12345"
                                    },
                                    "ad_type": {
                                        "description": "Reklam tipi (opsiyonel)",
                                        "type": "string",
                                        "example": "interstitial"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Başarılı - Coin eklendi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Reklam izleme ödülü başarıyla verildi."
                                        },
                                        "data": {
                                            "properties": {
                                                "coins_earned": {
                                                    "type": "integer",
                                                    "example": 50
                                                },
                                                "balance_before": {
                                                    "type": "integer",
                                                    "example": 100
                                                },
                                                "balance_after": {
                                                    "type": "integer",
                                                    "example": 150
                                                },
                                                "user_coins": {
                                                    "type": "integer",
                                                    "example": 150
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hata - Zaten bugün reklam izlenmiş olabilir veya başka bir hata",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Reklam izleme ödülü verilemedi."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "User Login",
                "description": "Authenticate user with email or phone and return access token",
                "operationId": "login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "type",
                                    "password"
                                ],
                                "properties": {
                                    "type": {
                                        "description": "Login type: email or phone",
                                        "type": "string",
                                        "enum": [
                                            "email",
                                            "phone"
                                        ],
                                        "example": "email"
                                    },
                                    "email": {
                                        "description": "Email address (required when type is 'email')",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "phone": {
                                        "description": "Phone number (required when type is 'phone')",
                                        "type": "string",
                                        "example": "+905551234567"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tebrikler başarılı bir şekilde giriş yaptınız."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "type": "object"
                                                },
                                                "accessToken": {
                                                    "type": "string",
                                                    "example": "1|abc123..."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lütfen bilgileri kontrol ediniz."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "User Registration",
                "description": "Register a new user account",
                "operationId": "register",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "phone"
                                ],
                                "properties": {
                                    "phone": {
                                        "description": "Telefon numarası (zorunlu)",
                                        "type": "string",
                                        "example": "05551234567"
                                    },
                                    "name": {
                                        "description": "İsim (opsiyonel)",
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "email": {
                                        "description": "E-posta (opsiyonel)",
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "description": "Şifre (opsiyonel)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "description": "Şifre tekrar (opsiyonel, password varsa zorunlu)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "device_id": {
                                        "description": "FCM Device ID (opsiyonel)",
                                        "type": "string",
                                        "example": "fcm-device-token-12345"
                                    },
                                    "referral_code": {
                                        "description": "Referans kodu (opsiyonel, 8 karakter)",
                                        "type": "string",
                                        "example": "ABC12345"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "phone": {
                                        "description": "Telefon numarası (zorunlu)",
                                        "type": "string",
                                        "example": "05551234567"
                                    },
                                    "name": {
                                        "description": "İsim (opsiyonel)",
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "email": {
                                        "description": "E-posta (opsiyonel)",
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "description": "Şifre (opsiyonel)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "description": "Şifre tekrar (opsiyonel, password varsa zorunlu)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "device_id": {
                                        "description": "FCM Device ID (opsiyonel)",
                                        "type": "string",
                                        "example": "fcm-device-token-12345"
                                    },
                                    "referral_code": {
                                        "description": "Referans kodu (opsiyonel, 8 karakter)",
                                        "type": "string",
                                        "example": "ABC12345"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Registration successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Kullanıcı başarılı bir şekilde oluşturuldu."
                                        },
                                        "data": {
                                            "properties": {
                                                "accessToken": {
                                                    "type": "string",
                                                    "example": "1|abc123..."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/me/update": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Update User Profile",
                "description": "Update authenticated user's profile information",
                "operationId": "updateProfile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "İsim (opsiyonel)",
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "email": {
                                        "description": "E-posta (opsiyonel)",
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "phone": {
                                        "description": "Telefon numarası (opsiyonel)",
                                        "type": "string",
                                        "example": "+905551234567"
                                    },
                                    "password": {
                                        "description": "Şifre (opsiyonel)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    },
                                    "password_confirmation": {
                                        "description": "Şifre tekrar (opsiyonel, password varsa zorunlu)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    },
                                    "profile_image": {
                                        "description": "Profil resmi (opsiyonel, max: 2MB). Dosya olarak gönderilebilir veya base64 string formatında gönderilebilir (data:image/png;base64,...)",
                                        "type": "string",
                                        "format": "binary",
                                        "example": ""
                                    },
                                    "avatar_id": {
                                        "description": "Avatar ID (opsiyonel). Eğer avatar_id gönderilirse, avatar'ın görseli profile_image olarak ayarlanır",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "device_id": {
                                        "description": "FCM Device ID (opsiyonel)",
                                        "type": "string",
                                        "example": "fcm-device-token-12345"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "İsim (opsiyonel)",
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "email": {
                                        "description": "E-posta (opsiyonel)",
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "phone": {
                                        "description": "Telefon numarası (opsiyonel)",
                                        "type": "string",
                                        "example": "+905551234567"
                                    },
                                    "password": {
                                        "description": "Şifre (opsiyonel)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    },
                                    "password_confirmation": {
                                        "description": "Şifre tekrar (opsiyonel, password varsa zorunlu)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    },
                                    "profile_image": {
                                        "description": "Profil resmi base64 string formatında (opsiyonel, max: 2MB). Format: data:image/png;base64,... veya sadece base64 string",
                                        "type": "string",
                                        "example": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
                                    },
                                    "avatar_id": {
                                        "description": "Avatar ID (opsiyonel). Eğer avatar_id gönderilirse, avatar'ın görseli profile_image olarak ayarlanır",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "device_id": {
                                        "description": "FCM Device ID (opsiyonel)",
                                        "type": "string",
                                        "example": "fcm-device-token-12345"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "İsim (opsiyonel)",
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "email": {
                                        "description": "E-posta (opsiyonel)",
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "phone": {
                                        "description": "Telefon numarası (opsiyonel)",
                                        "type": "string",
                                        "example": "+905551234567"
                                    },
                                    "password": {
                                        "description": "Şifre (opsiyonel)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    },
                                    "password_confirmation": {
                                        "description": "Şifre tekrar (opsiyonel, password varsa zorunlu)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    },
                                    "avatar_id": {
                                        "description": "Avatar ID (opsiyonel). Eğer avatar_id gönderilirse, avatar'ın görseli profile_image olarak ayarlanır",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "device_id": {
                                        "description": "FCM Device ID (opsiyonel)",
                                        "type": "string",
                                        "example": "fcm-device-token-12345"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Kullanıcı bilgilerini bir şekilde güncellediniz."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/auth/me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "User Detail",
                "description": "Get user detail",
                "operationId": "detail",
                "responses": {
                    "200": {
                        "description": "User detail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Kullanıcı detayı başarılı bir şekilde listelendi."
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Test User"
                                                },
                                                "coins": {
                                                    "type": "integer",
                                                    "example": 1200
                                                },
                                                "diamonds": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "is_premium": {
                                                    "description": "RevenueCat sonucuna göre hesaplanan premium durumu",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "revenuecat": {
                                                    "properties": {
                                                        "checked": {
                                                            "type": "boolean",
                                                            "example": true
                                                        },
                                                        "is_premium": {
                                                            "type": "boolean",
                                                            "example": true
                                                        },
                                                        "entitlements": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string",
                                                                "example": "premium"
                                                            }
                                                        },
                                                        "error": {
                                                            "type": "string",
                                                            "example": null,
                                                            "nullable": true
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "User Logout",
                "description": "Logout authenticated user and revoke all access tokens",
                "operationId": "logout",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Başarılı bir şekilde çıkış yapıldı."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/referral/my-code": {
            "get": {
                "tags": [
                    "Referral"
                ],
                "summary": "Kullanıcının kendi referral kodunu getir",
                "description": "Kullanıcının kendi unique referral kodunu döndürür",
                "operationId": "34b954d682ed93e9380ec6619057aa36",
                "responses": {
                    "200": {
                        "description": "Başarılı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "referral_code": {
                                                    "type": "string",
                                                    "example": "ABC12345"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/referral/can-use": {
            "get": {
                "tags": [
                    "Referral"
                ],
                "summary": "Referral kod kullanabilir mi kontrolü",
                "description": "Kullanıcının daha önce referral kod kullanıp kullanmadığını kontrol eder. Eğer false dönerse, referral kod girişi gösterilmez.",
                "operationId": "6a6fda24d468cf2c3385acad50db90a9",
                "responses": {
                    "200": {
                        "description": "Başarılı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "can_use": {
                                                    "description": "false ise referral kod girişi gösterilmez",
                                                    "type": "boolean",
                                                    "example": false
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/auth/delete-account": {
            "delete": {
                "tags": [
                    "Auth"
                ],
                "summary": "Hesap Silme",
                "description": "Kullanıcının hesabını kalıcı olarak siler. Tüm token'lar iptal edilir ve kullanıcı verileri silinir.",
                "operationId": "deleteAccount",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "password": {
                                        "description": "Şifre doğrulama (opsiyonel)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Hesap başarıyla silindi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Hesabınız başarıyla silindi."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Şifre yanlış",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Şifre yanlış."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/avatars": {
            "get": {
                "tags": [
                    "Avatars"
                ],
                "summary": "Aktif avatarları listele",
                "operationId": "f8e8993dba13f1632af16cb0d9ff220f",
                "responses": {
                    "200": {
                        "description": "Başarılı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "image_url": {
                                                        "type": "string",
                                                        "example": "https://example.com/storage/avatars/avatar1.jpg"
                                                    },
                                                    "is_active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "sort_order": {
                                                        "type": "integer",
                                                        "example": 0
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/coin-history": {
            "get": {
                "tags": [
                    "Coin History"
                ],
                "summary": "Jeton geçmişi",
                "description": "Kullanıcının kazandığı ve kaybettiği jetonları listeler. Son 5, 15, 30 gün filtreleme yapılabilir.",
                "operationId": "4a462d447492eeb57f9a35fb8150f80d",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "İşlem tipi: earned (kazanç), spent (kayıp), all (hepsi)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "all",
                            "enum": [
                                "earned",
                                "spent",
                                "all"
                            ]
                        }
                    },
                    {
                        "name": "days",
                        "in": "query",
                        "description": "Son kaç gün: 5, 15, 30",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                5,
                                15,
                                30
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Başarılı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "earned": {
                                                    "description": "Kazanılan jetonlar",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "coin_amount": {
                                                                "type": "integer",
                                                                "example": 50
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "example": "Reklam izleme ödülü"
                                                            },
                                                            "transaction_type": {
                                                                "type": "string",
                                                                "example": "earned"
                                                            },
                                                            "balance_before": {
                                                                "type": "integer",
                                                                "example": 100
                                                            },
                                                            "balance_after": {
                                                                "type": "integer",
                                                                "example": 150
                                                            },
                                                            "date": {
                                                                "type": "string",
                                                                "example": "2025-01-06 14:30:00"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "spent": {
                                                    "description": "Kaybedilen jetonlar",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "coin_amount": {
                                                                "type": "integer",
                                                                "example": -50
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "example": "Günlük Quiz"
                                                            },
                                                            "transaction_type": {
                                                                "type": "string",
                                                                "example": "spent"
                                                            },
                                                            "balance_before": {
                                                                "type": "integer",
                                                                "example": 300
                                                            },
                                                            "balance_after": {
                                                                "type": "integer",
                                                                "example": 250
                                                            },
                                                            "date": {
                                                                "type": "string",
                                                                "example": "2025-01-06 15:00:00"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "game_transactions": {
                                                    "description": "Oyun başlangıç ve bitiş işlemleri",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "game_id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "game_type": {
                                                                "type": "string",
                                                                "example": "normal"
                                                            },
                                                            "start_balance": {
                                                                "type": "integer",
                                                                "example": 300
                                                            },
                                                            "end_balance": {
                                                                "type": "integer",
                                                                "example": 250
                                                            },
                                                            "coin_change": {
                                                                "type": "integer",
                                                                "example": -50
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "example": "Günlük Quiz"
                                                            },
                                                            "started_at": {
                                                                "type": "string",
                                                                "example": "2025-01-06 14:00:00"
                                                            },
                                                            "completed_at": {
                                                                "type": "string",
                                                                "example": "2025-01-06 15:00:00"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/coin-packages": {
            "get": {
                "tags": [
                    "Coin Packages"
                ],
                "summary": "Jeton paketlerini listele",
                "description": "Mevcut jeton paketlerini listeler",
                "operationId": "6b33544276aab344d926c210508ea575",
                "parameters": [
                    {
                        "name": "currency",
                        "in": "query",
                        "description": "Para birimi",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "TRY"
                        }
                    },
                    {
                        "name": "show_inactive",
                        "in": "query",
                        "description": "Pasif paketleri göster",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "example": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Jeton paketleri listelendi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/coin-purchases": {
            "get": {
                "tags": [
                    "Coin Purchases"
                ],
                "summary": "Jeton satın alma geçmişi",
                "description": "Kullanıcının jeton satın alma geçmişini listeler",
                "operationId": "fa7794152fe65ddec0af3d9a1b921ddf",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Satın alma durumu",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "completed",
                                "failed",
                                "cancelled",
                                "refunded"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Sayfa başına kayıt sayısı",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Satın alma geçmişi listelendi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/coin-purchases/{coinPurchase}": {
            "get": {
                "tags": [
                    "Coin Purchases"
                ],
                "summary": "Jeton satın alma detayı",
                "description": "Belirli bir jeton satın alma işleminin detayını getirir",
                "operationId": "71ca881f2ee8b3da22f3487df64d694a",
                "parameters": [
                    {
                        "name": "coinPurchase",
                        "in": "path",
                        "description": "Satın alma ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Satın alma detayı getirildi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Bu satın alma kaydına erişim yetkiniz yok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Bu satın alma kaydına erişim yetkiniz yok"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/coin-purchases/purchase": {
            "post": {
                "tags": [
                    "Coin Purchases"
                ],
                "summary": "Jeton Satın Al",
                "description": "Mobil ödeme yapıldıktan sonra jeton satın alma işlemini tamamlar.",
                "operationId": "f1e79da1256c23f47519e74a3aa31dee",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "package_id": {
                                        "description": "Paket ID'si",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "payment_id": {
                                        "description": "Mobil ödeme ID'si",
                                        "type": "string",
                                        "example": "payment_123"
                                    },
                                    "payment_provider": {
                                        "description": "Ödeme sağlayıcısı",
                                        "type": "string",
                                        "enum": [
                                            "google",
                                            "apple"
                                        ],
                                        "example": "google"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "package_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "payment_id": {
                                        "type": "string",
                                        "example": "payment_123"
                                    },
                                    "payment_provider": {
                                        "type": "string",
                                        "enum": [
                                            "google",
                                            "apple"
                                        ],
                                        "example": "google"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Jeton başarıyla yüklendi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Jeton başarıyla yüklendi."
                                        },
                                        "coin_amount": {
                                            "type": "integer",
                                            "example": 100
                                        },
                                        "bonus_coins": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "total_coins": {
                                            "type": "integer",
                                            "example": 110
                                        },
                                        "new_balance": {
                                            "type": "integer",
                                            "example": 1110
                                        },
                                        "purchase": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hata",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Bu paket aktif değil."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/diamond/balance": {
            "get": {
                "tags": [
                    "Diamond"
                ],
                "summary": "Elmas Bakiyesi",
                "description": "Kullanıcının elmas bakiyesini getirir.",
                "operationId": "92da12ef159416dc6a01e2777bcbc2ce",
                "responses": {
                    "200": {
                        "description": "Elmas bakiyesi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "balance": {
                                            "type": "integer",
                                            "example": 100
                                        },
                                        "user_id": {
                                            "type": "integer",
                                            "example": 1
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/diamond/packages": {
            "get": {
                "tags": [
                    "Diamond"
                ],
                "summary": "Elmas Paketleri",
                "description": "Satın alınabilecek elmas paketlerini listeler.",
                "operationId": "4d282381d89b9ee47c221fa3099c3092",
                "responses": {
                    "200": {
                        "description": "Elmas paketleri",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "packages": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "10 Elmas"
                                                    },
                                                    "diamond_amount": {
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "price": {
                                                        "type": "number",
                                                        "example": 14
                                                    },
                                                    "gross_price": {
                                                        "type": "number",
                                                        "example": 10
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/diamond/purchase": {
            "post": {
                "tags": [
                    "Diamond"
                ],
                "summary": "Elmas Satın Al",
                "description": "Mobil ödeme yapıldıktan sonra elmas satın alma işlemini tamamlar.",
                "operationId": "3c4e72e0d2999dae9ad8b9c07e539818",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "package_id": {
                                        "description": "Paket ID'si",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "payment_id": {
                                        "description": "Mobil ödeme ID'si",
                                        "type": "string",
                                        "example": "payment_123"
                                    },
                                    "payment_provider": {
                                        "description": "Ödeme sağlayıcısı",
                                        "type": "string",
                                        "enum": [
                                            "google",
                                            "apple"
                                        ],
                                        "example": "google"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "package_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "payment_id": {
                                        "type": "string",
                                        "example": "payment_123"
                                    },
                                    "payment_provider": {
                                        "type": "string",
                                        "enum": [
                                            "google",
                                            "apple"
                                        ],
                                        "example": "google"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Elmas başarıyla yüklendi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Elmas başarıyla yüklendi."
                                        },
                                        "diamond_amount": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "new_balance": {
                                            "type": "integer",
                                            "example": 110
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hata",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Bu paket aktif değil."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/diamond/transfer-to-card": {
            "post": {
                "tags": [
                    "Diamond"
                ],
                "summary": "Elması Karta Aktar",
                "description": "Elması BilBakalım kartına aktarır (1 elmas = 100 coin).",
                "operationId": "87b574a126fed876ce9cf0eaecca875b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "amount": {
                                        "description": "Aktarılacak elmas miktarı",
                                        "type": "integer",
                                        "minimum": 1,
                                        "example": 100
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "amount": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "example": 100
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Elmas başarıyla karta aktarıldı",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Elmas başarıyla karta aktarıldı."
                                        },
                                        "diamond_amount": {
                                            "type": "integer",
                                            "example": 100
                                        },
                                        "coin_amount": {
                                            "type": "integer",
                                            "example": 10000
                                        },
                                        "new_diamond_balance": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "new_coin_balance": {
                                            "type": "integer",
                                            "example": 10000
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hata",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Yetersiz elmas bakiyesi."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/duel/question-multiplier/{duel_id}": {
            "post": {
                "tags": [
                    "Duel"
                ],
                "summary": "Soru Bazlı 2x/3x Teklif Et",
                "description": "Aktif düellodaki mevcut soru için 2x/3x coin çarpanı teklifi gönderir. Teklif rakibe socket üzerinden iletilir.",
                "operationId": "69bc66c82e5a496a40d095e6d07c4137",
                "parameters": [
                    {
                        "name": "duel_id",
                        "in": "path",
                        "description": "Düello ID'si",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "question_id": {
                                        "description": "Mevcut sorunun ID'si",
                                        "type": "integer",
                                        "example": 123
                                    },
                                    "multiplier": {
                                        "description": "Soru bazlı çarpan değeri (2x, 3x, 4x veya 8x)",
                                        "type": "integer",
                                        "enum": [
                                            2,
                                            4,
                                            6,
                                            8
                                        ],
                                        "example": 2
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "question_id": {
                                        "type": "integer",
                                        "example": 123
                                    },
                                    "multiplier": {
                                        "type": "integer",
                                        "enum": [
                                            2,
                                            4,
                                            6,
                                            8
                                        ],
                                        "example": 2
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Teklif oluşturuldu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Soru için çarpan teklifi gönderildi."
                                        },
                                        "bet": {
                                            "properties": {
                                                "question_id": {
                                                    "type": "integer",
                                                    "example": 123
                                                },
                                                "initiator_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "opponent_id": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "multiplier": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "pending"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hata",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Bu soru için zaten bekleyen bir teklif var."
                                        }
                                    },
                                    "type": "object"
[...]
